/* Moblie :with <740px */
@media only screen and (max-width:46.1875em) {
    .profile-header img{
        height: 150px;
    } 
    .header img{
        height: 350px;
    }   
    .under-header-img>img{
        height: 200px;
    }
    .under-header {
        height: 240px;
    }
    .information{
        display: inline;
    }
    .column1{
        width: 100%;
        margin-left:-70px;
        text-align: center;
        margin-top: -25px;
    }
    .column12{
        margin-top: -35px;
    }
    .column2,.column3{
        display: none;
    }
    nav>ul{
        display: flex;
        width: 95%;
        margin-left: 1%;
    }
    nav ul li a {
        font-size: 15px;
        font-style: 15px;
        line-height: 30px;
    }
    nav ul li a i{
        font-size: 10px;
        font-style: 10px;
    }
    section{
        margin-top: 60px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: max-content;
    }
    .text{
        width: 100%;
    }
    footer{
        margin-top:1320px;
        left: 0;
        bottom:auto;
        margin-left: 10%;
        margin-right: 10%;
        width: 83%;
        height: 30px;
    }
    .blog1, .blog2{
        display: block;
    }
    .blog-img>img{
        width: 100%;
    }
    .blog-content{
        margin-left: 0;
    }
    .contacthtml{
        display:inline;
    }
    
    .email4, .birthday, .phone5, .location {
        display: flex;
        font-weight: bold;
    }
}
/* Moblie :with >740px and *with < 1024px */
@media only screen and  (min-width:46.25em)and (max-width:63.9375em) {
    .profile-header>img{
        height: 100px;
    }
    .under-header{
        flex-direction: column;
    }
    .under-header-text{
        flex-direction: column;
    }
    .under-header-text1
    .under-header-text2{
        width: 45%;
    }
}
/* Moblie :with >= 1024px */
@media only screen and (min-width:64em) {
    
}